* {
      -moz-box-sizing: border-box; /* Firefox */
      -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
      box-sizing: border-box; /* IE */
 }

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    font-family: 'Merienda' cursive, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: left;
    background-color: #efefef;
    height: 100%;
    width: 100%;
    border: 30px solid #76140c;
    -webkit-font-smoothing: antialiased;
}

/* Header */

header {
  height: auto;
  float: left;
  position: relative;
  padding: 25px;
  width: 100%;
  z-index: 10;
}

.logo-wrapper {
  padding: 15px;
  float: left
}

.logo {
  border-radius: 15px;
  height: 100px;
}

.nav-tabs {
  text-align: center;
}

.nav-tabs li {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-tabs ul {
  list-style: none;
  display: inline-flex;
}

.nav-tabs a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}


/* Header-end */

/* Container */


/* Carousel */

.slider {
  position: relative;
  width: 100%;
  height: 680px;
  background-color: #ccc;
  margin: 0 auto;
}

.slider_nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  z-index: 4;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 2.0s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide_content {
  position:absolute;
  left:15%;
  top:75%;
  padding:20px;
  background-color: rgba(0,0,0,.4);
  border-radius:3px;
}

.slide_content > * {
  color:white;
  opacity:1;
}

.slide_content span {
  letter-spacing: 0;
  font-weight: bold;
}

.slide.active {
  opacity: 1;
}

.secondary_nav {
  position:absolute;
  top: 0;
  width:15%;
  height:100%;
  z-index:4;
  opacity: 0.3;
  transition: opacity 2.0s ease-in-out;
  cursor:pointer;
  color:white;
  font-size:4rem;
}

.secondary_nav:hover{
  opacity:0.8;
}

.image1 {
  background-image: url("https://igniter-2246.kxcdn.com/preview/salon/files/2015/09/sl01a.jpg");
}

.image2 {
  background-image: url("https://igniter-2246.kxcdn.com/preview/salon/files/2015/09/sl02.jpg");
}

.image3 {
  background-image: url("https://igniter-2246.kxcdn.com/preview/salon/files/2015/09/sl03.jpg");
}

/* Carousel-end */

/* Appointment-Number */

.appointment-number-wrap, .hiring-wrap {
  background-color: #76140c;
  margin-left: 15%;
  margin-right: 15%;
}

.appointment-number, .hiring {
  text-align: center;
  padding: 10px;
}

.hiring span {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0;
}

.appointment-number span {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0;
}

/* Appointment-Number-end */

.wrapper {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}

/*Services section */

.Services-section {
  width: 100%;
}

.Services-section h2 {
  color: black;
  text-align: center;
}

.services {
  display: flex;
}

.service-borders {
  border: solid 4px #76140c ;
  width: 31.33%;
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
  padding: 10px;
}

/*Services section end */

/*Container-end */
